<h1>Hello! Welcome to the Blogging Engine!</h1>
<h2>Use the links below to create a user account or to login!</h2>

<button type="btn_create_user">Create User</button>
<button type="btn_login">Login</button>