<h1><center>Hello! Welcome to My Blogging Engine!</center></h1>
<br></br>
<h2><center>Use the buttons below to create a user account or to login!</center></h2>
<br></br>

<center><%= link_to "Create User", new_user_path, class: 'btn_create_user' %></center>
<br></br>
<center><%= link_to "Log In", login_path, class: 'btn_login' %></center>
<br></br>

<center><img src="https://miro.medium.com/max/1275/1*6d5dw6dPhy4vBp2vRW6uzw.png"></center>

