// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./actiontext.scss";

.content_field
{
    background-color: white;
}

.posts_display {
    padding: 20px;
}

.microposts_info {
    padding-left: 1rem;
    display: inline-block;
}

.content {
    padding: 20px;
}

.micropost_form {
    padding: 20px;
}

.cat {
    padding: 20px;
    right: 0%;
    bottom: 0%;
    position: absolute;
    background-position: right;
}

.show_link {
    padding: 20px;
}

.edit {
    padding: 20px;
    right: 0%;
    bottom: 0%;
    position: absolute;
    background-position: right;
}
