// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.create_btn {
    height:65px;
    width:175px;
    font-size: 18px;
    font-weight: bold;
    color: purple;
    padding: 20px 20px;
    border: 2px solid #000000;
    background-color: #f5f5f5;
}

.login_btn {
    height:65px;
    width:175px;
    font-size: 18px;
    font-weight: bold;
    color: orange;
    padding: 20px 20px;
    border: 2px solid #000000;
    background-color: #f5f5f5;
   
}

.posts_btn {
    height:65px;
    width:175px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    padding: 20px 20px;
    border: 2px solid #000000;
    background-color: #f5f5f5;
 
}

.archived_btn {
    height:65px;
    width:175px;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    padding: 20px 20px;
    border: 2px solid #000000;
    background-color: #f5f5f5;
   
}

.all_btns {
    margin: auto;
    width: fit-content;
}

#user_btn {
    form {
        display: inline-block;
    }
}

#post_btns {
    form {
        display: inline-block;
    }
}

.home_panda {
    padding: 20px;
}
