// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
    padding-left: 20px;
    padding-top: 20px;
}

.links {
    .links:hover {
        color: black;
    }
}

